@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0px;
    margin: 10px 1px;
}

body{
    font-family: "Open Sans", sans-serif;
}

/* hader */
header{
    background-image: url(./images/developer.png);
    background-repeat: no-repeat;
}

/* nav styles */

.nav-title{
    font-size: 45px;
}

.nav-title span{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
}

.color-dark1{
    color: #181818;
}

.color-dark2{
    color: #474747;
}

.color-dark3{
    color: #757575;
}

nav li a {
    text-decoration: none;
    font-size:20px;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;

}

.nav-bar{
    display: flex;
    align-items: center;
}



/* banner style start */
/* banner-Text */

/* .banner{
    background: rgb(255, 248, 243);
    border: 4px solid red;
    max-width: 1482px;;
    height: 704px; */
}

.banner-content{
    display: flex;
}

.banner-content{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.banner-text{
    margin-left: 150px;
}

.banner-content h4{
font-size: 35px;
}

.banner-text h2 {
    font-size: 70px;
    padding: 20px 0px;

}