


/* nav styles */

.nav-title{
    font-size: 55px;
}

.nav-title span{
    color: #FD6E0A;
}

.btn-primary{
    background-color: #FD6E0A;
    font-size: 22px;
    color: white;
    padding: 12px 22px;
    border: none;
    border-radius: 5px;
}

.color-dark1{
    color: #181818;
}

.color-dark2{
    color: #474747;
}

.color-dark3{
    color: #757575;
}

nav li a {
    text-decoration: none;
    font-size:25px;
}

nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-bar{
    display: flex;
    align-items: center;
}
